<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1089811789844-dhutvq1pqmgc4tjjn3drihld42bm17mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089811789844-dhutvq1pqmgc4tjjn3drihld42bm17mb</string>
	<key>API_KEY</key>
	<string>AIzaSyBUUITfJQNwOS_BChaGY5jHi-ZKNDri60g</string>
	<key>GCM_SENDER_ID</key>
	<string>1089811789844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>music.devmountain.playlistgenerator</string>
	<key>PROJECT_ID</key>
	<string>plushi-b8fe7</string>
	<key>STORAGE_BUCKET</key>
	<string>plushi-b8fe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089811789844:ios:6131be67847a47d1</string>
	<key>DATABASE_URL</key>
	<string>https://plushi-b8fe7.firebaseio.com</string>
</dict>
</plist>